# IHM - Prediktiv analys
## Digital Marketing & Sales Analytics
### - Lektion 2: Introduktion till R

I kursen använder vi Jupyter Notebook som i grunden är till för Python men det går även att skriva R-kod. Dock måste varje cell börja med "%%R" för att det ska fungera och det kommer ni se en hel del i R-delarna av kursen.

In [2]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [3]:
%%R

print("Hello, World")
print('Hello, World')

[1] "Hello, World"
[1] "Hello, World"

I R kan både = och <- användas för att assigna värden till variabler men oftast används <- med hänvisning till att likamed-tecknet bör användas för att assigna argument till parametrar.

I vissa språk är datatyper hårt styrda genom att man exempelvis måste skriva "int my_int = 5" för att kunna skapa variabeln my_int som har datatypen integer (int). Så är det inte i R utan datatypen läses in automatiskt vid initieringen.

In [4]:
%%R

my_integer <- 5
my_decimal <- 5.3
my_string <- "hejhej"
my_null <- NULL

I R är den stora uppdelningen mellan numeriska värden och strängar som kallas characters. Både integers och decimaltal är numeriska medan strängvärden är characters vilka ofta kodas som faktorer eller kategorier.

In [5]:
%%R

print(is.numeric(5))
print(is.numeric(5.3))
print(is.numeric('abc'))

[1] TRUE
[1] TRUE
[1] FALSE

In [6]:
%%R

print(is.character(5))
print(is.character(5.3))
print(is.character('abc'))

[1] FALSE
[1] FALSE
[1] TRUE

Om man vill skriva ut en text ihop med en variabel kan man använda funktionen paste().

In [7]:
%%R 

print(paste("Koppla ihop texten med en variabel, ", my_integer))

print(paste("Koppla ihop texten med en variabel, ", my_integer*5))

my_text_to_print = "Hello guys!"
print(my_text_to_print)

[1] "Koppla ihop texten med en variabel,  5"
[1] "Koppla ihop texten med en variabel,  25"
[1] "Hello guys!"

Det går även att använda klassiska logiska selektioner i R

In [8]:
%%R

a <- 5

if(a == 5) {
    print("a var fem")
}
else {
    print("a var inte fem")
}

[1] "a var fem"

In [9]:
%%R

b <- 3

if(a == 5 & b == 3) {
    print("a var fem och b var tre")
}

if(a == 5) {
    if(b == 3) {
        print("a var fem och b var tre på det här sättet också")
    }
}

[1] "a var fem och b var tre"
[1] "a var fem och b var tre på det här sättet också"

Selektioner där man använder if, else och else if är viktigt att lära sig och återkommer i alla programmeringsspråk. Det är anses vara "clean code" när man försöker använda så lite komplexitet som möjligt i sina selektioner (exempelvis genom att undvika nästlade selektioner).

In [11]:
%%R

if(b > 5) {
    print("b är större än 5")
}
else if(b < 1) {
    print("b är mindre än 1")
}
else {
    print("b är mellan 1-5")
}

[1] "b är mellan 1-5"

Jämförelseoperatorer i R är ==, !=, >, <, >=, <=. Dessa är likadana hos i stort sett alla programringsspråk.

Det vanligaste sättet att lagra data i R är antingen som en vektor eller som en dataframe. Vektorer skapas med funktionen c(), där c står för combine.

In [12]:
%%R

en_vector <- c(1, 1, 2, 3)

print(en_vector)

[1] 1 1 2 3

In [13]:
%%R

vector_två <- c(9, 8, 7)

sammansatt_vektor <- c(en_vector, vector_två)

print(sammansatt_vektor)

[1] 1 1 2 3 9 8 7

In [14]:
%%R 
column_1 <- c(1, 2, 3)
column_2 <- c("a", "b", "c")

en_dataframe <- data.frame(column_1, column_2)

print(en_dataframe)

  column_1 column_2
1        1        a
2        2        b
3        3        c

In [15]:
%%R

print("Första raden: ")
print(en_dataframe[1, ])

print("Endast kolumnen column_1")
print(en_dataframe[, "column_1"])

[1] "Första raden: "
  column_1 column_2
1        1        a
[1] "Endast kolumnen column_1"
[1] 1 2 3

In [16]:
%%R

# Kommentarer skrivs i R med symbolen #
# Värdet som ligger i index 1 i vektorn. 
# Vektorer och rader börjar på 1 i R till skillnad från Python där de börjar på 0.
print(en_vector[1])

[1] 1

For-loopar:

In [17]:
%%R

loop_vector <- c("a", "b", "c")

for(i in loop_vector) {
    print(i)
}

[1] "a"
[1] "b"
[1] "c"

While-loopar

In [18]:
%%R

i <- 1
while(i < 4) {
    print(loop_vector[i])
    i <- i + 1
}

[1] "a"
[1] "b"
[1] "c"

Det går även att göra operationer på vektorer som att ta ut unika värden eller titta på storleken

In [19]:
%%R

num_vector <- c(1, 1, 2, 10, 10, 11)

print(unique(num_vector))
print(paste("The length of the vector is:", length(num_vector)))

[1]  1  2 10 11
[1] "The length of the vector is: 6"

Det går att undersöka om ett element existerar i en lista

In [20]:
%%R

if(1 %in% num_vector) {
    print("The number 1 exists in the vector")
}
    
if(8 %in% num_vector == FALSE) {
    print("The number 8 does not exist in the vector")
}

[1] "The number 1 exists in the vector"
[1] "The number 8 does not exist in the vector"

Vidare går det att använda modulus i R för att undersöka om det finns något rest kvar. Det görs med operator %%.

In [21]:
%%R

print(4 %% 2)
print(4 %% 3)

[1] 0
[1] 1

R skiljer sig från Python i att det är ett programmeringsspråk som är mycket hårdare kopplat till statistik och dataanalys. Python går också att använda till ren systemutveckling vilket man inte gör med R. 

Dataanalysen i Python bygger på några populära bibliotek som pandas, matplotlib och scikit learn. Ni kommer att få testa dessa i kursen. Dessa är en liten del av Python och det finns andra personer som använder språket för att t.ex. utveckla webbsidor, spel, systemscript och konsollapplikationer.

Styrkan med R är att det har en otroligt stor rikedom av välanvända biliotek som stödjer i stort sett alla ovanliga statistiska test och analyser som finns. Vidare finns mycket funktioner för dataanalys inbyggda grundspråket - vilket ni kommer se i kursen. R är också mer funktionellt och använder mer funktioner medan i Python är det vanligare att med objektorienterad programmering med klasser.